/* Basic reset */
* {
    margin: 0;
    padding: 0;
}

:root {
    --font-size-sm: clamp(1.42rem, 0.4vw + 1.26rem, 1.76rem);
    --font-size-base: clamp(1.6rem, 0.91vw + 1.24rem, 2.4rem);
    --font-size-md: clamp(1.81rem, 1.65vw + 1.15rem, 3.26rem);
    --font-size-lg: clamp(2.04rem, 2.72vw + 0.95rem, 4.44rem);
}

/* Set system font */
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(20deg, rgb(219, 112, 147), #daa357);
    text-align: center;
}

h1 {
    font-size: var(--font-size-lg);
    margin-bottom: 2rem;
}

p {
    font-size: var(--font-size-base);
}

a {
    color: #3498db;
}
